<h1>TODO 一覧</h1>

<%= link_to "新規作成", new_todo_path, class: "button" %>

<% @todos.each do |todo| %>
  <ul class="todo">
    <li><%= check_box_tag "todo_done_#{todo.id}", "1", todo.done, disabled: false, class: "check-box" %></li>
    <li><%= "タスク：#{todo.task}" %></li>
    <li><%= "締切：#{todo.deadline ? l(todo.deadline) : "なし"}" %></li>
    <%= link_to "詳細", todo_path(todo), class: "button" %>
    <%= link_to "編集", edit_todo_path(todo), class: "button" %>
    <%= link_to "削除", todo_path(todo), class: "button", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  </ul>
<% end %>
